.header {
  justify-content: space-around;
}
/*

.row {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
}
 .card {
  display: inline-block;
  justify-content: space-around;
} */
