.nav {
  padding-bottom: 10px;
}
.imgs {
  width: 40%;
  margin-right: 10%;
  float: left;
  padding-left: 5%;
}
.produkt {
  width: 50%;
  float: right;
  padding-right: 5%;
}
.pris {
  width: 45%;
  float: left;
}
.dropdown {
  width: 45%;
  float: right;
}
.beskrivelse {
  margin-top: 20px;
}
.purchase {
  max-width: 15%;
}
.solid {
  border-top: 3px solid #bbb;
}
.solid-light {
  border-top: 2px solid #bbb;
}
.form-select {
  width: fit-content;
  float: right;
}
.lignende {
  padding-top: 10%;
  width: 100%;
  float: left;
  padding-bottom: 300px;
  height: 150px;
}
.ligprod {
  width: 33%;
  float: left;
  text-align: center;
}
img {
  width: 50%;
  height: auto;
  border: 1px solid #bbb;
}
#botnav {
  bottom: 0;
  width: 100%;
  overflow: auto;
}
.lignendeinfo {
  float: left;
}
#splitHR {
  width: 95%;
  display: inline-block;
  margin-top: 50px;
  margin-left: 2.5%;
}
#headh2 {
  padding-bottom: 35px;
}
.ligimgs {
  margin: 0%;
}
